<?xml version="1.0" encoding="UTF-8"?>
<resproguard>
    <issue id="whitelist" isactive="true">
        <path value="com.bytedance.android.ugc.aweme.R.raw.*" />
        <path value="*.R.drawable.icon" />
        <path value="*.R.mipmap.ic_launcher" />
    </issue>
    <filter-str isactive="true">
        <!--remove strings in file-->
        <path value="unused.txt" />
        <!--remove strings by language-->
        <language value="en" />
        <language value="zh" />
    </filter-str>
    <filter isactive="false">
        <rule value="*/arm64-v8a/*" />
        <rule value="META-INF/*.RSA" />
    </filter>
</resproguard>